<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <title>Кіру | SOL</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="register-page">

<div class="register-container">
    <h1>SOL</h1>
    <h2>Кіру</h2>

    <form id="loginForm">
        <input type="email" id="email" placeholder="Email" required>
        <small id="emailError" class="error"></small>

        <input type="password" id="password" placeholder="Пароль" required>
        <small id="passwordError" class="error"></small>

        <button type="button" onclick="loginUser()" class="register-btn">Кіру</button>
    </form>

    <a href="register.html" class="login-link">Аккаунт жоқ па? Тіркелу</a>
</div>

<script src="login.js"></script>
</body>
</html>